<div class="font-roboto w-5/6 sm:w-96 mx-auto my-8 bg-white p-8 shadow-lg rounded-lg">
  
  <div class="mb-8">
    <div class="text-lg sm:text-2xl font-light mb-2 sm:mb-3 text-blue-darkest">
      <span class="font-medium">Welcome.</span>
      Please Login.
    </div>
    <div class="text-sm sm:text-base font-light text-blue-darkest">
      If you don't have an account,
      <a routerLink="/signup" class="no-underline font-normal hover:underline">Sign Up</a>.
    </div>
  </div>
  
  <div class="mb-3">
    <div class="text-sm sm:text-base tracking-wide sm:tracking-normal text-blue-darkest mb-1">
      <label for="username" class="cursor-pointer ml-1">Username</label>
    </div>
    <input type="text" placeholder="johndoe24" autocomplete="off" id="username" class="w-full bg-grey-lighter rounded outline-none px-4 py-4 hover:shadow focus:shadow border-b border-transparent focus:border-blue" [ngClass]="{ 'border-red': errors.username }" [(ngModel)]="user.username" (input)="errors.username = ''">
    <div class="text-xs font-medium text-red-dark mt-1 text-right h-4">
      {{ errors.username }}
    </div>
  </div>
  
  <div class="mb-3">
    <div class="text-sm sm:text-base tracking-wide sm:tracking-normal text-blue-darkest mb-1">
      <label for="password" class="cursor-pointer ml-1">Password</label>
    </div>
    <input type="password" placeholder="••••••••" id="password" class="w-full bg-grey-lighter rounded outline-none px-4 py-4 hover:shadow focus:shadow border-b border-transparent focus:border-blue" [ngClass]="{ 'border-red': errors.password }" [(ngModel)]="user.password" (input)="errors.password = ''">
    <div class="text-xs font-medium text-red-dark mt-1 text-right h-4">
      {{ errors.password }}
    </div>
  </div>

  <div class="flex justify-between items-center">
    <a routerLink="/forgot-password" class="no-underline hover:underline text-grey-dark text-sm hover:text-grey-darker cursor-pointer font-medium">Forgot Your Password?</a>
    <button class="bg-blue hover:bg-blue-dark active:bg-blue-darker text-white py-3 px-6 text-sm uppercase tracking-wide rounded outline-none" (click)="login()">Login</button>
  </div>

</div>