<div class="font-roboto w-5/6 sm:w-96 mx-auto my-8 bg-white p-8 shadow-lg rounded-lg">
  
  <div *ngIf="!submitted">
    <div class="mb-8">
      <div class="text-lg sm:text-2xl font-light mb-2 sm:mb-3 text-blue-darkest">
        <span class="font-medium">Forgot Password?</span>
      </div>
      <div class="text-sm sm:text-base font-light text-blue-darkest">
        If not, then
        <a routerLink="/login" class="no-underline font-normal hover:underline">Login</a>
        or
        <a routerLink="/signup" class="no-underline font-normal hover:underline">Sign Up</a>.
      </div>
    </div>
    
    <div class="mb-3">
      <div class="text-sm sm:text-base tracking-wide sm:tracking-normal text-blue-darkest mb-1">
        <label for="username" class="cursor-pointer ml-1">Your Username</label>
      </div>
      <input type="text" placeholder="johndoe24" autocomplete="off" id="username" class="w-full bg-grey-lighter rounded outline-none px-4 py-4 hover:shadow focus:shadow border-b border-transparent focus:border-blue" [ngClass]="{ 'border-red': error.username }" [(ngModel)]="username" (input)="error.username = ''">
      <div class="text-sm text-red-dark mt-1 text-right h-4">
        {{ error.username }}
      </div>
    </div>
  
    <div class="text-right">
      <button class="bg-blue hover:bg-blue-dark active:bg-blue-darker text-white py-3 px-6 text-sm font-bold uppercase tracking-wide rounded outline-none" (click)="forgotPassword()" [disabled]="processing" [ngClass]="{ 'opacity-50 cursor-not-allowed': processing }">
        {{ processing ? 'Processing...' : 'Reset Password' }}
      </button>
    </div>
  </div>

  <div class="text-center" *ngIf="submitted">
    <div class="text-xl font-medium text-blue-darkest mb-2">
      Password Reset Mail Sent Successfully.
    </div>
    <div class="text-blue-darkest mb-6">
      Check your email.
    </div>
    <a routerLink="/login" class="no-underline outline-none text-purple hover:text-purple-dark font-medium tracking-wide text-sm uppercase">
      Go to Homepage
    </a>
  </div>

</div>